* {
    margin: 0;
    padding: 0;

}

header {
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: start;
    background-color: darkorange;
    padding: 10px;

    margin: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;

    width: 100px;
    font-size: 12px;
    text-align: left;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr 90px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

section {
    display: grid;
    justify-items: center;
    margin: 10px auto;
    border: 10px springgreen;
    padding: 10px;
    background-color: rgb(250, 195, 156);

    width: 200px;


}
img {
    width: 100%;
}

p {
    text-align: center;
    font-weight: bold;
}
footer {
    display: grid;
    justify-items: left;
    background-color: darkorange;
    padding: 20px;
    font-size: 20px;
    
}

    
